---
import SideBar from "../components/SideBar.svelte";
import { ViewTransitions } from "astro:transitions";
---

<html lang="pt-BR" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Produtos</title>
    <ViewTransitions />
  </head>
  <body>
    <SideBar client:only="svelte">
      <h1 class="text-white text-center">Produtos</h1>
    </SideBar>
  </body>
</html>
